@using Entities.Concrate
@model Skills
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row g-4">
	<div class="col-sm-12 col-xl-6 mt-5" style="margin:20px;">
		<div class="bg-secondary rounded h-100 p-4">
			<h6 class="mb-4">Create</h6>
			<form method="post">
				<div class="mb-3">
					<label asp-for="Name" class="form-label"></label>
					<input asp-for="Name" class="form-control">
					<span asp-validation-for="Name"></span>

				</div>
				<div class="mb-3">
					<label asp-for="Percent" class="form-label"></label>
					<input asp-for="Percent" class="form-control">
					<span asp-validation-for="Percent"></span>

				</div>
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
	</div>
</div>
