@using Entities.Concrate
@model List<Experience>
@{
	Layout = null;
}

<div class="boxes mt-6 mb-3">
	<h3 class="subtitle">Experience</h3>
	<div class="row vertical-line">
		<!--   Item 01   -->
		@foreach (var item in Model)
		{

			<div class="col-md-6">
				<div class="timeline-box">
					<div class="time-line-header">
						<p class="timeline-year">@item.Start.ToString("dd.MM.yyyy") - @item.End.ToString("dd.MM.yyyy")</p>
						<h6 class="timeline-title">@item.Name</h6>
					</div>
					<div class="timeline-content">
						<p>@item.Description</p>
					</div>
				</div>
			</div>
		}
		<!--   Item 02   -->
	</div>
</div>