<!DOCTYPE html>
<html lang="en" class="max-width-d">

<!-- Mirrored from retrina.com/demo/~/arshia/arshia-plus/webdesigner-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Nov 2023 12:14:35 GMT -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Joshgun Salahov </title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Retrina Group" />
	<!--  FavIcon  -->
	<link rel="shortcut icon" href="~/arshia/arshia-plus/assets/img/favicon.png">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
	<!-- Bootstrap Css -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/css/bootstrap.css">
	<!-- Bootstrap Icon -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/css/bootstrap-icons.css">
	<!-- Malihu Jquery Custom ScrollBar Css -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/css/jquery.mCustomScrollbar.css">
	<!-- Animate Css -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/css/animate.min.css">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/css/owl.carousel.min.css">
	<!-- Magnific Popup Css -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/css/magnific-popup.css">
	<!--  Custom Style Css  -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/css/style.css">
	<!--  Color Css  -->
	<link rel="stylesheet" href="~/arshia/arshia-plus/assets/colors/golden.css" id="option-color">
</head>
<body class="dark-arshia max-width-d">

	<!-- Preloader -->
	<div id="line-loader">
		<div class="middle-line"></div>
	</div>

	<!--   Menu Overlay Mobile -->
	<div class="menu-overlay d-none"></div>

	<!--   Right Side Start  -->
	<div class="right-side d-none d-lg-block">
		<div id="date"></div>
		<div class="social-box">
			<div class="follow-label">
				<span>Follow Me</span>
			</div>
			<div class="social d-none d-lg-block">
				<a href="https://www.linkedin.com/in/co%C5%9Fqun-salahov/;">
					<i class="bi bi-linkedin"></i>
				</a>
				<a href="https://www.instagram.com/cowqun_salahli/;">
					<i class="bi bi-instagram"></i>
				</a>
				<a href="https://github.com/cosqun5;">
					<i class="bi bi-github"></i>
				</a>
			</div>
		</div>
		<div class="next-prev-page">
			<button type="button" class="prev-page bg-base-color hstack">
				<i class="bi bi-chevron-compact-up mx-auto"></i>
			</button>
			<button type="button" class="next-page bg-base-color mt-3 hstack">
				<i class="bi bi-chevron-compact-down mx-auto"></i>
			</button>
		</div>
	</div>
	<!--  Right Side End  -->
	<!--  Left Side Start  -->
	<div class="left-side  nav-close">
		@await Component.InvokeAsync("LeftMenu")
		<div class="menu-align">
			<ul class="list-group menu text-center " id="menu">
				<li class="list-group-item">
					<a href="#hero">
						<i class="bi bi-house"></i>
						<span>home</span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="#about" class="custom-btn">
						<i class="bi bi-person"></i>
						<span>about</span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="#resume">
						<i class="bi bi-clipboard-check"></i>
						<span>resume</span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="#portfolio">
						<i class="bi bi-collection"></i>
						<span>works</span>
					</a>
				</li>
				@*<li class="list-group-item">
					<a href="#blog">
						<i class="bi bi-book"></i>
						<span>blog</span>
					</a>
				</li>*@
				<li class="list-group-item">
					<a href="#contact">
						<i class="bi bi-geo-alt"></i>
						<span>contact</span>
					</a>
				</li>
			</ul>
			<div class="menu-footer">
				<a class="download-cv primary-button mt-3 mb-4 d-lg-none" href="javascript:void(0);">Download CV</a>
				<div class="social d-lg-none d-block">
					<a href="javascript:void(0);" class="d-inline-block">
						<i class="bi bi-whatsapp"></i>
					</a>
					<a href="javascript:void(0);" class="d-inline-block mx-4">
						<i class="bi bi-instagram"></i>
					</a>
					<a href="javascript:void(0);" class="d-inline-block">
						<i class="bi bi-dribbble"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--  Left Side End  -->
	<!--  Main Start  -->
	<main id="main" class="main-2">

	@RenderBody();
	



		<!--  Blog Start  -->
		@*<section id="blog" class="section blog">
			<div class="container">
				<h3 class="subtitle">Latest News</h3>
				<div class="boxes">
					<div class="row vertical-line">
						<!-- Item 01 -->
						<div class="col-md-6">
							<a href="webdesigner-blog-singel-dark.html" class="blog-box">
								<div class="blog-image">
									<img src="~/arshia/arshia-plus/assets/img/webdesigner/blog-item1.jpg" alt="/">
									<div class="blog-icon">
										<i class="bi bi-journal-text"></i>
									</div>
								</div>
								<div class="blog-post-content">
									<div class="blog-dates">
										<span>20 June 2021</span>
									</div>
									<h6 class="blog-header">Stay informed about the latest cameras and money of that</h6>
									<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
								</div>
							</a>
						</div>
						<!-- Item 02 -->
						<div class="col-md-6">
							<a href="webdesigner-blog-singel-dark.html" class="blog-box">
								<div class="blog-image">
									<img src="~/arshia/arshia-plus/assets/img/webdesigner/blog-item2.jpg" alt="/">
									<div class="blog-icon">
										<i class="bi bi-journal-text"></i>
									</div>
								</div>
								<div class="blog-post-content">
									<div class="blog-dates">
										<span>20 June 2021</span>
									</div>
									<h6 class="blog-header">What Resources help you with your photography</h6>
									<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
								</div>
							</a>
						</div>
						<!-- Item 03 -->
						<div class="col-md-6">
							<a href="webdesigner-blog-singel-dark.html" class="blog-box">
								<div class="blog-image">
									<img src="~/arshia/arshia-plus/assets/img/webdesigner/blog-item3.jpg" alt="/">
									<div class="blog-icon">
										<i class="bi bi-journal-text"></i>
									</div>
								</div>
								<div class="blog-post-content">
									<div class="blog-dates">
										<span>20 June 2021</span>
									</div>
									<h6 class="blog-header">Improve your Skills with blog posts on photography</h6>
									<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
								</div>
							</a>
						</div>
						<!-- Item 04 -->
						<div class="col-md-6">
							<a href="webdesigner-blog-singel-dark.html" class="blog-box">
								<div class="blog-image">
									<img src="~/arshia/arshia-plus/assets/img/webdesigner/blog-item4.jpg" alt="/">
									<div class="blog-icon">
										<i class="bi bi-journal-text"></i>
									</div>
								</div>
								<div class="blog-post-content">
									<div class="blog-dates">
										<span>20 June 2021</span>
									</div>
									<h6 class="blog-header">Get Inspiration from photo stories, interviews, and resource</h6>
									<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>*@
		<!--  Blog End  -->
		@await Component.InvokeAsync("Contact")

	</main>
	<!--  Main End  -->
	<!--  Mobile Next and Prev Button Start -->
	<div class="next-prev-page d-block d-lg-none">
		<button type="button" class="prev-page bg-base-color hstack">
			<i class="bi bi-chevron-compact-left mx-auto"></i>
		</button>
		<button type="button" class="next-page bg-base-color mt-1 mt-lg-3 hstack">
			<i class="bi bi-chevron-compact-right mx-auto"></i>
		</button>
	</div>
	<!--  Mobile Next and Prev Button End -->
	<!--  Navbar Button Mobile Start -->
	<div class="menu-toggle">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<!--  Navbar Button Mobile End -->
	<!--  Background Shapes Start  -->
	<div class="area">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!--  Background Shapes End  -->
	<!--  Color Pallet  -->
@*	<div id="color-switcher" class="color-switcher">
		<div class="text-center color-pallet hide">
			<h6 class="theme-skin-title">Light &amp; Dark</h6>
			<ul class="color-scheme list-inline">
				<li class="list-inline-item">
					<a href="javascript:void(0)" class="light-scheme"><i class="bi bi-brightness-high"></i> Light</a>
				</li>
				<li class="list-inline-item">
					<a href="javascript:void(0)" class="dark-scheme active"><i class="bi bi-moon"></i> Dark</a>
				</li>
			</ul>
			<h6 class="text-center mt-3 text-dark">Select your color</h6>
			<ul class="pattern">
				<li>
					<a class="color1" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color2" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color3" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color4" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color5" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color6" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color7" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color8" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="color9" href="javascript:void(0)"></a>
				</li>
			</ul>
		</div>
		<div class="pallet-button hide">
			<a href="javascript:void(0)" class="cp-toggle"><i class="bi bi-gear"></i></a>
		</div>
	</div>*@

	<!-- Mouase Magic Cursor Start -->
	<div class="m-magic-cursor mmc-outer"></div>
	<div class="m-magic-cursor mmc-inner"></div>
	<!-- Mouase Magic Cursor End -->
	<!--  JavaScripts  -->
	<!--  Jquery 3.4.1  -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$(function () {
			$('#contactForm').submit(function (e) {
				e.preventDefault();
				var form = $(this);
				var url = form.attr('action');
				$.ajax({
					type: 'POST',
					url: url,
					data: form.serialize(),
					dataType: 'json',
					success: function (data) {
						if (data.success) {
							Swal.fire('Təşəkkürlər', data.message, 'success');
							// Formun içini boşaltmaq
							form[0].reset();
						} else {
							Swal.fire('Xəta', 'Mesajınız göndərilmədi.', 'error');
						}
					},
					error: function () {
						Swal.fire('Xəta', 'Mesajınız göndərilmədi.', 'error');
					}
				});
			});
		});
	</script>
	<script src="~/arshia/arshia-plus/cloudflare-static/email-decode.min.js"></script>
	<script data-cfasync="false" src="~/arshia/arshia-plus/cloudflare-static/email-decode.min.js"></script>
	<script src="~/arshia/arshia-plus/assets/js/jquery-3.4.1.min.js"></script>
	<!--  Bootstrap Js  -->
	<script src="~/arshia/arshia-plus/assets/js/bootstrap.js"></script>
	<!--  Malihu ScrollBar Js  -->
	<script src="~/arshia/arshia-plus/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!--  CountTo Js  -->
	<script src="~/arshia/arshia-plus/assets/js/jquery.countTo.js"></script>
	<!--  Swiper Js  -->
	<script src="~/arshia/arshia-plus/assets/js/owl.carousel.min.js"></script>
	<!--  Isotope Js  -->
	<script src="~/arshia/arshia-plus/assets/js/isotope.pkgd.min.js"></script>
	<!--  Magnific Popup Js  -->
	<script src="~/arshia/arshia-plus/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- Map Js -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRemITiP7JRWpZwLhVt-T2x5MeUFE2KWs"></script>
	<!--  Arshia Js  -->
	<script src="~/arshia/arshia-plus/assets/js/arshia.js"></script>
	<script src="c:\users\lenovo\desktop\mvc.ntierarch\personal_portfolio\wwwroot\arshia\arshia-plus\assets\js\owl.carousel.min.js"></script>
</body>

<!-- Mirrored from retrina.com/demo/~/arshia/arshia-plus/webdesigner-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Nov 2023 12:14:44 GMT -->
</html>
